*{
    padding: 0;
    margin: 0;
    white-space:inherit;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.navbar{
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 2;
}
.nav{
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    background-color: #586F7C;
}
.icon{
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    padding: 8px;
}
.icon:hover{
    background-color: white;
    color: black;
}
.name{
    font-size: 4rem;
    font-weight: bold;
}
.dev{
    font-size:2rem;
    color: blue;
    font-weight: 500;
    transition: 1s;
    display: flex;
    gap: 10px;
}
.i{
    color: black;
}
.hom{
    position: relative;
    margin-top: 9rem;
    margin-left: 2rem;
    height: 100vh;
}
.my_name{
    font-weight: 700;
}
.nav a{
    text-decoration:none;
    color: white;
}
.html{
    background-image: url("html.webp");
    background-size: 25rem 15rem;
    position: relative;
    left: 2px;
    background-repeat: no-repeat;
    background-position: center;
}
.css{
    background-image: url("CSS3_logo.svg.png");
    background-size: 15rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}
.js{
    background-image: url("img_js.png");
    background-size: 13rem;
    position: relative;
    right: 2px;
    background-repeat: no-repeat;
    background-position: center;
}
.img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}
#sec2{
    height: 100vh;
}
.social{
    display: flex;
    justify-content:center;
}
.social a{
    color:white;
    font-size: 1.5em;
}
.icons{
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    padding: 8px 9px 5px 9px;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
}
.lang{
    transition: 1s;
    color: white;
    height: 15rem;
    width: 13rem;
}

.facebook{
    background-color: #316FF6;
    border: 2px solid white;
}
.instagram{
    background-color:rgb(218, 29, 92);
    border: 2px solid white;
}
.github{
    background-color: rgb(6, 6, 14);
    border: 2px solid white;
}
.linkedin{
    background-color: #0077b5;
    border: 2px solid white;
}

.about-me{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
#con{
    margin-top: 1rem;
}
.contact{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.size i{
    font-size: 2rem;
}
.language p{
    font-size: 2rem;
    text-align: center;
}
@media(max-width:800px)
{
    .lang{ width: 100px;}
    .html{ background-size: 222px;}
    .css{ background-size: 114px;}
    .js{ background-size: 100px;}
    .contact{flex-wrap: wrap;}
}
@media(max-width:320px){
.name{font-size: 3rem;}
.img{flex-wrap: wrap;}
}
